<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
		<a href="<%= @user.attach.url %>">
    	<%= image_tag @user.attach.url %>
		</a>

<<<<<<< HEAD

	   <h1><%= @user.name %></h1>
       
        
        <h2>Zip Code: <%= @user.zipcode %></h2>
        <h2>Weather: <%= @weather_data["forecastList"][0]["dayDesc"] %></h2>
        
        
        <h2>Email: <%= @user.email %></h2>
    	<a href="<%= @user.attach.url %>">
    	<%= image_tag @user.attach.url %>
		</a>
    
=======
	   <h1><%= @user.name %></h1>
	  
        
        <h2>Zip Code: <%= @user.zipcode %></h2>
      
      
	
       <%= render :partial => 'deal', :collection => @deals  %>
        
        <h2>Email: <%= @user.email %></h2>
    	
      
>>>>>>> d2f0b8107b16a9bfbcdf362e415f7ae5bb90da51
    </section>
  </aside>
</div>	